@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 20px;
    background-color: #201c1c;
}

h1 {
    color: white;
    font-size: 30px;
}

p {
    color: white;
}

li {
    color: white;
}

.NavBarTransparency{
    background-color: (#201c1c 0.5);
}

.GearImage{
    max-height: 600px;
    max-width: 600px;
}

.GameImage{
    min-width: 560px;
}

@media (min-width: 1410px){
    .pageWidth {
        width: 1410px
    }
}

@media (max-width: 1409px){
    .pageWidth{
        width: 100%
    }
}

.NavNoScrollBar{
    height: 7%;
}

.ContentHeight{
    height: 93%;
}


.ContentNoScrollBar {
    overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.ContentNoScrollBar::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.ContentNoScrollBar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}